main{
    text-align: center;
    width: 100%;
    margin: 0px 0;
}
h1{
    padding: 0 10% 0;
    font-size: 25px;
    color: blue;
    
}
h2{
    text-align: left;
    padding: 0 75% 0;
    width: max-content;
}

div{

    width: 700px;
    text-align: right;
}

label{
    width: 800px;
    text-align: left;
}

button{text-align: center;}
.button{
    width: 1230px;
    text-align: center;}

img{
    width: 100px;
    height: 100px;
}
